/* 最大显示一行，溢出省略号 */
.txt-line-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 最大显示两行，溢出省略号 */
.txt-line-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
hr {
  margin: 10px 0 15px;
  border: 0;
  border-top: 1px solid #eee;
}
.arrow-t {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-b {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
  position: relative;
  top: -3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-l {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-r {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.title {
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  margin: 54px 0 37px 0;
}
/*轮播图*/
.transform {
  transform: rotateY(180deg);
  margin-right: 20px;
  color: white;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
.banner .carousel .carousel-inner .item {
  height: 720px;
}
.banner .carousel .carousel-inner .item > .container {
  height: 720px;
  position: relative;
}
.banner .carousel .carousel-inner .item .bannerMsg {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -135px;
  width: 580px;
  height: 270px;
  overflow: hidden;
  background: #51b2f1;
  padding: 54px 35px 30px;
}
.banner .carousel .carousel-inner .item .bannerMsg h1 {
  font-size: 48px;
  color: white;
  margin: 0 0 23px 0;
}
.banner .carousel .carousel-inner .item .bannerMsg p {
  color: white;
  font-size: 18px;
  margin-bottom: 48px;
}
.banner .carousel .carousel-inner .item .bannerMsg > a {
  display: block;
  width: 168px;
  height: 48px;
  border: 3px solid white;
  text-decoration: none;
}
.banner .carousel .carousel-inner .item .bannerMsg > a > span {
  color: white;
  line-height: 40px;
  margin-left: 10px;
}
.banner .carousel .carousel-inner .item .bannerMsg > a .transform {
  float: right;
}
.banner .carousel .carousel-indicators li {
  width: 70px;
  height: 10px;
}
/*重点项目*/
.emphasisProject {
  margin-bottom: 40px;
}
.emphasisProject .project {
  display: block;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
}
.emphasisProject .project .project-photo {
  position: relative;
  background: #f6f6f6 center center no-repeat;
  background-size: cover;
  padding-top: 75%;
  max-height: 300px;
}
.emphasisProject .project .project-photo .blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(10, 93, 169, 0.6);
  opacity: 0;
  transition: opacity 1s;
}
.emphasisProject .project .project-photo .blue .arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -80px;
  width: 156px;
  height: 46px;
  line-height: 46px;
  border: 3px solid white;
  text-align: center;
}
.emphasisProject .project .project-photo .blue .arrow .iconfont {
  font-size: 30px;
  color: #fff;
}
.emphasisProject .project .project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 30px;
  height: 80px;
  line-height: 20px;
  border-bottom: 2px solid #d5d5d5;
  font-size: 18px;
  color: #252728;
}
.emphasisProject .project:hover .project-photo .blue {
  opacity: 1;
}
.emphasisProject .project:hover .project-title {
  background: #51b2f1;
  color: white;
}
/*关于专家委员会*/
.SpecialistBox .top .left,
.SpecialistBox .top .right,
.SpecialistBox .top .center {
  height: 220px;
  padding: 0;
}
.SpecialistBox .top .left img,
.SpecialistBox .top .right img {
  width: 100%;
  height: 100%;
}
.SpecialistBox .top .center {
  background: #51b2f1;
  color: white;
  text-align: center;
  padding-top: 75px;
}
.SpecialistBox .top .center:hover {
  background: #219ff3;
}
.SpecialistBox .top .center a {
  display: block;
  text-decoration: none;
  font-size: 30px;
  color: white;
}
.SpecialistBox .top .center p {
  font-size: 14px;
}
.SpecialistBox .bottom .center a {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 38px;
  margin-top: 92px;
  color: #51b2f1;
}
.SpecialistBox .bottom .center > .boxA {
  width: 128px;
  height: 45px;
  border: 3px solid #51b2f1;
  margin: 0 auto;
}
.SpecialistBox .bottom .center > .boxA i {
  color: #51b2f1;
  float: right;
  font-size: 24px;
  margin: 4px 48px;
}
.SpecialistBox .bottom .left,
.SpecialistBox .bottom .right,
.SpecialistBox .bottom .center {
  height: 220px;
  padding: 0;
}
.SpecialistBox .bottom .left,
.SpecialistBox .bottom .right {
  background: #3cdcd6;
  color: white;
  text-align: left;
  padding-top: 53px;
  padding-left: 20px;
  padding-right: 20px;
}
.SpecialistBox .bottom .left p,
.SpecialistBox .bottom .right p {
  text-align: left;
}
.SpecialistBox .bottom .left:hover,
.SpecialistBox .bottom .right:hover {
  background: #10cac4;
}
.SpecialistBox .bottom .left a,
.SpecialistBox .bottom .right a {
  text-decoration: none;
  color: white;
  margin-top: 53px;
  font-size: 30px;
}
.SpecialistBox .bottom .left a .transform,
.SpecialistBox .bottom .right a .transform {
  float: right;
  font-size: 24px;
  margin-right: 0;
}
.SpecialistBox .bottom .left a > img,
.SpecialistBox .bottom .right a > img {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
/*新闻动态*/
.news {
  margin-bottom: 81px;
}
.news .container .newsButton {
  display: flex;
  justify-content: center;
  border: none;
  font-size: 16px;
}
.news .container .newsButton .active {
  border-color: #51b2f1;
}
.news .container .newsButton .active > a {
  color: #51b2f1;
}
.news .container .newsButton > li {
  width: 138px;
  height: 48px;
  border: 3px solid rgba(124, 128, 131, 0.4);
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}
.news .container .newsButton > li:hover {
  border-color: #51b2f1;
  background: white;
}
.news .container .newsButton > li > a {
  border: none;
  color: #252728;
}
.news .container .newsButton > li > a:hover {
  background: white;
  color: #51b2f1;
}
.news .container .newsDetails {
  position: relative;
}
.news .container .newsDetails .more {
  position: absolute;
  right: 0;
  bottom: -18px;
  text-decoration: none;
}
.news .container .newsDetails .left.news-top > h3 {
  font-family: 'CenturyGothic';
  font-size: 30px;
  margin-bottom: 30px;
  text-indent: 20px;
}
.news .container .newsDetails .left.news-top .arrow {
  text-decoration: none;
}
.news .container .newsDetails .left.news-top .arrow i {
  color: #a3a3a3;
  float: left;
}
.news .container .newsDetails .left.news-top .thumbnail-wrapper {
  display: block;
}
.news .container .newsDetails .left.news-top .thumbnail-wrapper .attachment-post-thumbnail {
  width: 100%;
  height: auto;
}
.news .container .newsDetails .left.news-top .thumbnail-wrapper .thumbnail {
  width: 100%;
  height: 0;
  padding-top: 62.5%;
  background: #f6f6f6 center center no-repeat;
  background-size: cover;
  border: none;
}
.news .container .newsDetails .left.news-top > a > img {
  margin-bottom: 43px;
}
.news .container .newsDetails .left.news-top .newsTitle {
  text-decoration: none;
  display: block;
  color: #252728;
  margin-top: 23px;
  font-family: "MicrosoftYaHei";
  font-size: 18px;
  margin-bottom: 34px;
}
.news .container .newsDetails .left.news-top p {
  color: #60656a;
  font-size: 16px;
  text-align: left;
}
.news .container .newsDetails .right {
  padding-left: 80px;
  flex: 1;
}
.news .container .newsDetails .right > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.news .container .newsDetails .right > ul > li {
  position: relative;
  padding-left: 15px;
  border-bottom: 1px solid rgba(212, 212, 212, 0.6);
}
.news .container .newsDetails .right > ul > li::before {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  width: 3px;
  background: #666;
  left: 4px;
  top: 48px;
}
.news .container .newsDetails .right > ul > li > p {
  margin-left: 15px;
}
.news .container .newsDetails .right > ul > li > div > a {
  height: 30px;
  display: block;
  text-decoration: none;
  font-family: "MicrosoftYaHei";
  font-size: 18px;
  color: #252728;
  margin-bottom: 25px;
  margin-top: 39px;
}
.news .container .newsDetails .right > ul > li > div > a:hover .articleTitle {
  color: #51b2f1;
}
.news .container .newsDetails .right > ul > li > div > a .date {
  float: right;
}
.news .container .newsDetails .right > ul > li > div > a:hover > span {
  color: #252728;
}
.news .container .newsDetails .right > ul > li > p {
  width: 358px;
  color: #60656a;
  position: relative;
  margin-bottom: 41px;
}
.news .container .newsDetails .right > ul > li > p > span {
  position: absolute;
  right: -130px;
}
.news .container .newsDetails .right > ul > li > p > span a {
  text-decoration: none;
}
.news .container .newsDetails .right > ul > li > p > span i {
  float: right;
  color: #a3a3a3;
}
@media screen and (max-width: 992px) {
  .news .container .newsButton {
    font-size: 13px;
  }
  .news .container .newsDetails .left .thumbnail-wrapper .thumbnail {
    width: 260px;
    border: none;
  }
  .news .container .newsDetails .right {
    padding-left: 0;
  }
}
