/* 最大显示一行，溢出省略号 */
.txt-line-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 最大显示两行，溢出省略号 */
.txt-line-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
hr {
  margin: 10px 0 15px;
  border: 0;
  border-top: 1px solid #eee;
}
.arrow-t {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-b {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
  position: relative;
  top: -3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-l {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-r {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
/*媒体查询*/
body {
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 1080px) {
  .banner .carousel .carousel-inner .item {
    background-size: 100% auto;
  }
}
@media screen and (max-width: 1440px) {
  .banner .carousel .carousel-inner .item {
    height: 520px;
    background-size: cover;
  }
  .banner .carousel .carousel-inner .item > .container {
    height: 520px;
  }
  .banner .carousel .carousel-inner .item .bannerMsg {
    margin-top: -120px;
    width: 50%;
    height: 240px;
    overflow: hidden;
    padding: 54px 35px 30px;
  }
  .banner .carousel .carousel-inner .item .bannerMsg h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 828px) {
  body .title {
    font-size: 28px;
    text-align: center;
    font-weight: normal;
    margin: 30px 0 20px 0;
  }
  .header .navpadding {
    min-height: 80px;
  }
  .header .container .navbar .container-fluid .navbar-header {
    position: relative;
  }
  .header .container .navbar .container-fluid .navbar-header .navbar-brand {
    padding: 10px 15px 10px 0;
    margin-right: 44px;
    float: none;
  }
  .header .container .navbar .container-fluid .navbar-header .navbar-brand .logo {
    width: 60px;
    height: auto;
    margin-right: 5px;
  }
  .header .container .navbar .container-fluid .navbar-header .navbar-brand h1 {
    font-size: 16px;
    float: none;
    line-height: 1.2;
  }
  .header .navbar-toggle {
    margin-right: 0;
    margin-top: 20px;
  }
  .header .nav-title {
    margin-top: 10px;
  }
  .header .nav-title > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
  }
  .header .nav-title > li > a:hover {
    border-bottom-width: 3px;
  }
  .header .nav-title > li.active > a {
    border-bottom-width: 3px;
  }
  .banner .carousel .carousel-indicators {
    display: none;
  }
  .banner .carousel .carousel-inner .item {
    height: auto;
  }
  .banner .carousel .carousel-inner .item > .container {
    height: auto;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .banner .carousel .carousel-inner .item .bannerMsg {
    width: auto;
    height: auto;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    margin: 0;
    position: absolute;
    padding: 15px 20px;
    background: rgba(81, 178, 241, 0.7);
  }
  .banner .carousel .carousel-inner .item .bannerMsg h1 {
    font-size: 24px;
    color: white;
    margin: 20px 0 15px;
  }
  .banner .carousel .carousel-inner .item .bannerMsg p {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
  }
  .banner .carousel .carousel-inner .item .bannerMsg > a {
    display: block;
    width: 168px;
    height: 48px;
    border: 3px solid white;
    text-decoration: none;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .footer .footer-top .relation {
    text-align: center;
  }
  .footer .footer-top .relation .telephone {
    font-size: 18px;
  }
  .footer .footer-top .relation p {
    margin-bottom: 5px;
  }
  .footer .footer-top .relation h4 {
    margin-bottom: 5px;
  }
  .emphasisProject {
    margin-bottom: 0;
  }
  .emphasisProject .project {
    padding-left: 0;
    padding-right: 0;
    margin: 15px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  .emphasisProject .project .project-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    height: auto;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-bottom-width: 0;
  }
  .SpecialistBox .top .left,
  .SpecialistBox .top .right,
  .SpecialistBox .top .center {
    position: relative;
    height: 0;
    padding-top: 40%;
  }
  .SpecialistBox .top .left img,
  .SpecialistBox .top .right img,
  .SpecialistBox .top .center img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .SpecialistBox .top .right,
  .SpecialistBox .top .center {
    padding-top: 35%;
  }
  .SpecialistBox .top .center .expert {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    padding-top: 15%;
  }
  .SpecialistBox .top .center a {
    font-size: 20px;
  }
  .SpecialistBox .bottom .left,
  .SpecialistBox .bottom .right {
    padding: 40px 15px;
    height: auto;
  }
  .SpecialistBox .bottom .left a,
  .SpecialistBox .bottom .right a {
    font-size: 24px;
    margin-top: 0;
  }
  .SpecialistBox .bottom .left a .transform,
  .SpecialistBox .bottom .right a .transform {
    margin-top: 5px;
    font-size: 16px;
  }
  .SpecialistBox .bottom .center a {
    margin-top: 70px;
  }
  .news {
    margin-bottom: 30px;
  }
  .newsDetails .news-top {
    padding-top: 15px;
  }
  .newsDetails .news-top h3 {
    display: none;
  }
  .newsDetails .news-top .thumbnail-wrapper .thumbnail {
    margin-bottom: 0;
  }
  .newsDetails .news-top .newsTitle {
    margin: 10px 0 !important;
  }
  .newsDetails .right {
    padding-right: 0 !important;
  }
  .newsDetails .right > ul > li {
    padding-left: 0 !important;
  }
  .newsDetails .right > ul > li::before {
    display: none !important;
  }
  .newsDetails .right > ul > li > div > a {
    margin: 15px 0 !important;
  }
  .newsDetails .right > ul > li p {
    margin-bottom: 20px !important;
  }
  .newsDetails .more {
    position: relative !important;
    bottom: 0 !important;
    display: block;
    margin: 15px;
    text-align: center;
    border: rgba(81, 178, 241, 0.5) solid 1px;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
  }
  .newsDetails .more:active {
    background: rgba(81, 178, 241, 0.1);
  }
  .contetn-exhibition-content .contentText .newsPic img {
    width: 100%;
  }
  .contetn-exhibition-content .relation .bdmap {
    display: none;
  }
  .contetn-exhibition-content .content .contetn-exhibition .contetn-exhibition-footer p {
    line-height: 28px;
  }
  .contetn-exhibition-content .content .contetn-exhibition .contetn-exhibition-footer .next {
    float: none;
    margin-left: 25px;
  }
  .contetn-exhibition-content .content .contetn-exhibition .contetn-exhibition-footer .last {
    float: none;
  }
  .contetn-exhibition-content .contentC {
    padding-top: 10px;
  }
  .contetn-exhibition-content .contentC .content .contetn-exhibition .contetn-exhibition-content .contentTitle h1 {
    font-size: 28px;
  }
  .contetn-exhibition-content .contentC .container .content {
    padding-top: 10px;
  }
  .contetn-exhibition-content .content .contetn-exhibition .newsList .list .listOne {
    padding: 20px 0;
  }
}
@media screen and (max-width: 992px) {
  .content .contetn-exhibition .newsList .itemEssay {
    padding: 20px 0 20px 0;
  }
  .content .contetn-exhibition .newsList .itemEssay .essayDate {
    border: none;
  }
  .content .contetn-exhibition .newsList .itemEssay .essayDate .dateYear {
    font-size: 12px;
  }
}
