/*媒体查询*/
@media screen and (min-width: 1080px) {
    .banner {
        .carousel {
            .carousel-inner {
                .item {
                    background-size:  100% auto;
                }
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    .banner {
        .carousel {
            .carousel-inner {
                .item {
                    height: 520px;
                    background-size:  cover;
                    & > .container {
                        height: 520px;
                    }
                    .bannerMsg {
                        margin-top: -120px; width: 50%; height: 240px; overflow: hidden; padding: 54px 35px 30px;
                        h1 {
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .header {
        .container {
            .navbar {
                .container-fluid {
                    .navbar-header {
                        .navbar-brand {
                            h1 {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .banner {
        .carousel {
        }
    }
    .footer {
        .footer-top {
            .relation {
                text-align: center;
            }
        }
    }
    .contetn-exhibition-content{
        .contentText{
            .newsPic{
                img{
                    width: 100%;
                }
               
            }
        }
    }
    .contetn-exhibition-header{
        .breadcrumb{
            display: none;
        }
        
    }
    .relation {
        .bdmap{
            display: none;
         }
    }
    .contentC{
        .content .contetn-exhibition .contetn-exhibition-content .contentTitle h1{
            font-size: 28px;
        }
        padding-top: 10px;
        .container{
            .content{
                padding-top: 10px;
            }
        }
        
    }
    
    
}