@import "_base.less";
/*媒体查询*/
@media screen and (min-width: 1080px) {
    .banner {
        .carousel {
            .carousel-inner {
                .item {
                    background-size:  100% auto;
                }
                
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    .banner {
        .carousel {
            .carousel-inner {
                .item {
                    height: 520px;
                    background-size:  cover;
                    & > .container {
                        height: 520px;
                    }
                    .bannerMsg {
                        margin-top: -120px; width: 50%; height: 240px; overflow: hidden; padding: 54px 35px 30px;
                        h1 {
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 828px) {
    body{
        .title {
            font-size: 28px;
            text-align: center;
            font-weight: normal;
            margin: 54px 0 37px 0;
        }
    }
    
    .header {
        .container {
            .navbar {
                .container-fluid {
                    .navbar-collapse{
                        #menu-mian{
                            .menu-item{
                                a{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .navbar-header {
                        .navbar-brand {
                            .logo{
                                width: 60px;
                                height: auto;
                            }
                            h1 {
                           font-size: 16px;
                           float: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .banner {
        .carousel {
            .carousel-indicators{
                display: none;
            }
            .carousel-inner {
                .item {
                    height: 300px;
                    & > .container {
                        height: 300px;
                        position: relative;
                    }
                    .bannerMsg {
                        display: none;
                        // position: absolute;
                        // top: 50%;
                        // left: 0;
                        // margin-top: -135px;
                        // width: 580px;
                        // height: 270px;
                        // overflow: hidden;
                        // background: @theme;
                        // padding: 54px 35px 30px;
                        h1 {
                            font-size: 48px;
                            color: white;
                            margin: 0 0 23px 0;
                        }
    
                        p {
                            color: white;
                            font-size: 18px;
                            margin-bottom: 48px;
                        }
    
                        &>a {
                            display: block;
                            width: 168px;
                            height: 48px;
                            border: 3px solid white;
                            text-decoration: none;
    
                        }
                    }
                }
            }
        }
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 10px;
        .footer-top {
            .footer-nav{
                .footerLinks{
                    display: none;

                }
            }
            .relation {
                text-align: center;
                .telephone{
                    font-size: 18px;
                }
                p{
                    margin-bottom: 5px;
                }
                h4{
                    margin-bottom: 5px;
                }
            }
        }
    }
    .contetn-exhibition-content{
        .contentText{
            .newsPic{
                img{
                    width: 100%;
                }
               
            }
        }
    }
    .contetn-exhibition-header{
        .breadcrumb{
            display: none;
        }
        
    }
    .relation {
        .bdmap{
            display: none;
         }
    }
    .contentC{
        .content .contetn-exhibition .contetn-exhibition-content .contentTitle h1{
            font-size: 28px;
        }
        padding-top: 10px;
        .container{
            .content{
                padding-top: 10px;
            }
        }
        
    }
    
    
}