/* 最大显示一行，溢出省略号 */
.txt-line-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 最大显示两行，溢出省略号 */
.txt-line-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
hr {
  margin: 10px 0 15px;
  border: 0;
  border-top: 1px solid #eee;
}
.arrow-t {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-b {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
  position: relative;
  top: -3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-l {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-r {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.container .content .content-menus .current-cat {
  background: #51b2f1;
}
.container .content .content-menus .current-cat a {
  color: white;
}
.content {
  padding-top: 30px;
}
.content .content-menus ul li {
  height: 60px;
  background-color: white;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: black;
}
.content .content-menus ul li:hover {
  background: #51b2f1;
  color: white;
}
.content .contetn-exhibition {
  background: white;
}
.content .contetn-exhibition .contetn-exhibition-header {
  height: 57px;
  border-bottom: 1px solid #d7d7d7;
  color: #a4a5a7;
  display: flex;
  line-height: 57px;
  justify-content: flex-end;
}
.content .contetn-exhibition .contetn-exhibition-content {
  border-bottom: 1px solid #d7d7d7;
}
.content .contetn-exhibition .contetn-exhibition-content .contentTitle {
  border-bottom: 1px solid #d7d7d7;
}
.content .contetn-exhibition .contetn-exhibition-content .contentTitle h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 36px;
}
.content .contetn-exhibition .contetn-exhibition-content .contentTitle p {
  line-height: 35px;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 42px;
}
.content .contetn-exhibition .contetn-exhibition-content .contentTitle p .share .datasetconfig {
  position: relative;
  top: 10px;
}
.content .contetn-exhibition .contetn-exhibition-content .contentText {
  padding-top: 37px;
  padding-bottom: 46px;
}
.content .contetn-exhibition .contetn-exhibition-content .contentText p {
  text-align: left;
  margin: 0 25px;
  line-height: 36px;
}
.content .contetn-exhibition .contetn-exhibition-content .contentText .newsPic {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content .contetn-exhibition .contetn-exhibition-footer {
  height: 136px;
  color: black;
}
.content .contetn-exhibition .contetn-exhibition-footer:hover {
  color: #50b2f1;
}
.content .contetn-exhibition .contetn-exhibition-footer p {
  color: black;
  text-decoration: none;
  line-height: 136px;
}
.content .contetn-exhibition .contetn-exhibition-footer p a {
  text-decoration: none;
  color: black;
}
.content .contetn-exhibition .contetn-exhibition-footer p a:hover {
  color: #50b2f1;
}
.content .contetn-exhibition .contetn-exhibition-footer .last {
  float: left;
  margin-left: 25px;
}
.content .contetn-exhibition .contetn-exhibition-footer .next {
  float: right;
  margin-right: 25px;
}
.content .contetn-exhibition .newsList .pagination {
  display: block;
  line-height: 35px;
  color: #a4a5a7;
}
.content .contetn-exhibition .newsList .pagination .screen-reader-text {
  display: none;
}
.content .contetn-exhibition .newsList .pagination .nav-links {
  text-align: center;
}
.content .contetn-exhibition .newsList .pagination .nav-links .next {
  width: 60px;
  float: right;
}
.content .contetn-exhibition .newsList .pagination .nav-links .prev {
  width: 60px;
  float: left;
}
.content .contetn-exhibition .newsList .pagination .nav-links a,
.content .contetn-exhibition .newsList .pagination .nav-links span {
  width: 40px;
  height: 40px;
  border: 2px solid #a4a5a7;
  text-decoration: none;
  display: inline-block;
  color: #a4a5a7;
}
.content .contetn-exhibition .newsList .pagination .nav-links a:hover,
.content .contetn-exhibition .newsList .pagination .nav-links span:hover {
  background: #50b2f1;
  color: white;
}
.content .contetn-exhibition .newsList .pagination .nav-links .current {
  background: #50b2f1;
  color: white;
}
.content .contetn-exhibition .newsList .list .listOne {
  padding: 30px 20px;
  border-bottom: 1px solid #f3f3f3;
}
.content .contetn-exhibition .newsList .list .listOne:hover {
  background: #50b2f1;
}
.content .contetn-exhibition .newsList .list .listOne:hover p {
  color: white;
}
.content .contetn-exhibition .newsList .list .listOne:hover a {
  color: white;
}
.content .contetn-exhibition .newsList .list .listOne a {
  color: black;
}
.content .contetn-exhibition .newsList .list .listOne a h2,
.content .contetn-exhibition .newsList .list .listOne a h3 {
  margin-top: 0;
  font-weight: normal;
}
.content .contetn-exhibition .newsList .list .listOne a h2 {
  font-size: 36px;
}
.content .contetn-exhibition .newsList .list .listOne a p {
  line-height: 24px;
  height: 48px;
}
.content .contetn-exhibition .newsList .list .listOne .left {
  margin-top: 12px;
  border-right: 1px solid #d9d9d9;
}
@media screen and (max-width: 992px) {
  .content .contetn-exhibition .newsList .list .listOne .left {
    border: none;
  }
  .content .contetn-exhibition .newsList .list .listOne .right {
    text-align: center;
  }
}
.contentC {
  background: #d7d7d7;
}
