/* 最大显示一行，溢出省略号 */
.txt-line-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 最大显示两行，溢出省略号 */
.txt-line-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
hr {
  margin: 10px 0 15px;
  border: 0;
  border-top: 1px solid #eee;
}
.arrow-t {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-b {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
  position: relative;
  top: -3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-l {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.arrow-r {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
.content .content-menus {
  margin-bottom: 30px;
}
.content .contetn-exhibition #introduction .share {
  position: relative;
  top: -10px;
}
.content .contetn-exhibition #introduction .contetn-exhibition-content .contentText {
  line-height: 36px;
  padding-left: 30px;
  padding-right: 30px;
}
.content .contetn-exhibition #introduction .contetn-exhibition-content .contentText .wp-block-image {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .content .contetn-exhibition #introduction .contetn-exhibition-content .contentText .newsPic img {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  .content .contetn-exhibition .contetn-exhibition-header .breadcrumb {
    display: none;
  }
}
.content .contetn-exhibition .contetn-exhibition-header .breadcrumb .blue {
  color: #51b2f1;
}
.content .contetn-exhibition .contetn-exhibition-referral {
  padding-top: 35px;
  padding-left: 25px;
  border-bottom: 1px solid #f2f4f6;
  padding-bottom: 50px;
}
.content .contetn-exhibition .contetn-exhibition-referral .referral h2 {
  font-size: 36px;
  color: #51b2f1;
  font-family: "FZLTZHK--GBK1-0";
}
.content .contetn-exhibition .contetn-exhibition-referral .referral .blue {
  background: #edf7fe;
  color: #82c4f4;
  border-radius: 10px;
  padding: 25px 15px 15px 15px;
  line-height: 25px;
}
.content .contetn-exhibition .contetn-exhibition-referral .referral .black {
  line-height: 36px;
}
.content .contetn-exhibition .contetn-exhibition-details {
  border-top: 1px solid #f2f4f6;
  padding: 56px 0 200px 25px;
}
.content .contetn-exhibition .contetn-exhibition-details p {
  font-size: 14px;
  line-height: 36px;
}
.content .contetn-exhibition .relation {
  border-top: 1px solid #f2f4f6;
}
.content .contetn-exhibition .relation h2 {
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content .contetn-exhibition .relation .shareLinks {
  border-bottom: 1px solid #f2f4f6;
}
.content .contetn-exhibition .relation .shareLinks .share {
  position: relative;
  top: -10px;
}
.content .contetn-exhibition .relation .map .bdmap {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 697px;
  height: 550px;
}
@media screen and (max-width: 992px) {
  .content .contetn-exhibition .relation .bdmap {
    display: none;
  }
}
.content .contetn-exhibition .relation .relationWay {
  text-align: left;
}
.content .contetn-exhibition .relation .relationWay h3 i {
  color: #51b2f1;
}
.content .contetn-exhibition .relation .relationWay p {
  text-indent: 30px;
  color: #a4a5a7;
}
.content .contetn-exhibition .memberList {
  margin-bottom: 40px;
}
.content .contetn-exhibition .memberList .overall {
  display: block;
}
.content .contetn-exhibition .memberList .nav-tabs {
  border: none;
}
.content .contetn-exhibition .memberList #mgTabs {
  margin-top: 20px;
  border: none;
}
.content .contetn-exhibition .memberList .dropdownMenu {
  margin-top: 20px;
  border: 2px solid #797979;
}
.content .contetn-exhibition .memberList .dropdownMenu a {
  border: none;
}
.content .contetn-exhibition .memberList .dropdownMenu:hover {
  border-color: #51b2f1;
  color: #51b2f1;
}
.content .contetn-exhibition .memberList .pullMenu {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content .contetn-exhibition .memberList .group {
  border-radius: 0;
  border: 2px solid #a4a5a7;
}
.content .contetn-exhibition .memberList .group:hover {
  border-color: #88deff;
  background: none;
  color: #88deff;
}
.content .contetn-exhibition .memberList .list {
  width: 100%;
  padding-top: 40px;
  border-bottom: 1px solid #d6d5d5;
}
.content .contetn-exhibition .memberList .list .memberItem .headerImg {
  position: relative;
}
.content .contetn-exhibition .memberList .list .memberItem .headerImg .blueMask {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content .contetn-exhibition .memberList .list .memberItem .headerImg .blueMask i {
  color: rgba(255, 255, 255, 0);
  font-size: 40px;
  position: absolute;
  top: 40%;
  left: 40%;
}
.content .contetn-exhibition .memberList .list .memberItem .headerImg img {
  width: 100%;
}
.content .contetn-exhibition .memberList .list .memberItem a {
  color: #252728;
  text-decoration: none;
}
.content .contetn-exhibition .memberList .list .memberItem .finally {
  padding-bottom: 20px;
  border-bottom: 5px solid transparent;
}
.content .contetn-exhibition .memberList .list .memberItem:hover .finally {
  border-color: #4eb1ec;
}
.content .contetn-exhibition .memberList .list .memberItem:hover .blueMask {
  background: #649ec4;
  opacity: 0.4;
}
.content .contetn-exhibition .memberList .list .memberItem:hover .blueMask i {
  color: white;
}
#memberDetails {
  display: none;
}
/*# sourceMappingURL=organization.css.map */