@import "_base.less";

.content {
    .content-menus{
        margin-bottom: 30px;
    }
    .contetn-exhibition {
        #introduction{
            .share{
                position: relative;
                top: -10px;
            }
            .contetn-exhibition-content{
                .contentText{
                   line-height: 36px;
                   padding-left: 30px;
                   padding-right: 30px;
                   .wp-block-image{
                       text-align: center;
                       margin-top: 20px;
                       margin-bottom: 20px;
                       img{
                           width: 100%;
                       }
                   }
                }
            }
            @media screen and (max-width:992px){
                .contetn-exhibition-content{
                    .contentText{
                        .newsPic{
                            img{
                                width: 300px;
                            }
                           
                        }
                    }
                }
            }
        }
        .contetn-exhibition-header{
            @media screen and (max-width: 992px) {
                .breadcrumb{
                    display: none;
                }
            }
            .breadcrumb{
                .blue{
                    color: @blue;
                }
            }
        }

        .contetn-exhibition-referral {
            padding-top: 35px;
            padding-left: 25px;
            border-bottom: 1px solid #f2f4f6;
            padding-bottom: 50px;

            .referral {
                h2 {
                    font-size: 36px;
                    color: @theme;
                    font-family: "FZLTZHK--GBK1-0";
                }

                .blue {
                    background: #edf7fe;
                    color: #82c4f4;
                    border-radius: 10px;
                    padding: 25px 15px 15px 15px;
                    line-height: 25px;
                }

                .black {
                    line-height: 36px;
                }
            }
        }

        .contetn-exhibition-details {
            border-top: 1px solid #f2f4f6;
            padding: 56px 0 200px 25px;

            p {
                font-size: 14px;
                line-height: 36px;
            }
        }

        .relation {
            border-top: 1px solid #f2f4f6;

            h2 {
                font-weight: normal;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &>p {
                .share{
                    position: relative;
                    top: -10px;
                }
                text-align: right;
                border-bottom: 1px solid #f2f4f6;
            }
            .map{
               
                .bdmap{
                    margin-top: 50px;
                    margin-bottom: 100px;
                    width: 697px;
                    height: 550px;
                }
            }
            @media screen and (max-width: 992px) {
                .bdmap{
                   display: none;
                }
            }
            .relationWay {
                text-align: left;

                h3 {
                    i {
                        color: @theme;
                    }
                }

                p {
                    text-indent: 30px;
                    color: #a4a5a7;
                }
            }

        }

        .memberList {
            .overall{
                display: block;
            }
            .nav-tabs{
                border: none;
            }
            #mgTabs{
                margin-top: 20px;
                border: none;
            }
            .dropdownMenu{
                margin-top: 20px;
                border: 2px solid #797979;
                a{
                    border: none;
                }
                &:hover{
                    border-color:@blue;
                    color:@blue;
                }
            }
            margin-bottom: 40px;
            .pullMenu {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .group {
                border-radius: 0;
                border: 2px solid #a4a5a7;

                &:hover {
                    border-color: #88deff;
                    background: none;
                    color: #88deff;
                }
            }

            .list {
                width: 100%;
                padding-top: 40px;
                border-bottom: 1px solid #d6d5d5;
                .memberItem {
                    .headerImg{
                        position: relative;
                        .blueMask{
                            text-align: center;
                            
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            i{
                                color: rgba(255, 255, 255, 0);
                                font-size: 40px;
                                position: absolute;
                                top: 40%;
                                left: 40%;
                                
                            }
                        }
                        img{
                            width: 100%;
                        }
                    }
                    a{
                        color: @dark2;
                        text-decoration: none;
                    }
                    .finally {
                        padding-bottom: 20px;
                        border-bottom: 5px solid transparent;
                    }

                    &:hover .finally {
                        border-color: #4eb1ec;
                    }
                    &:hover .blueMask{
                        background: #649ec4;
                        opacity: 0.4;
                        i{
                            color: white;
                        }
                    }
                }
            }

           
        }

    }
}

#memberDetails {
    display: none;
}

#relation {

    // display: none;
}